obiekt_Listy/Lista2/Lista2/obj/Lista2.csproj.nuget.dgspec.json
obiekt_Listy/Lista2/Lista2/obj/Lista2.csproj.nuget.g.props
obiekt_Listy/Lista2/Lista2/obj/project.assets.json
obiekt_Listy/Lista2/Lista2/obj/project.nuget.cache
obiekt_Listy/Lista2/Lista2/obj/Debug/net6.0/apphost
obiekt_Listy/Lista2/Lista2/obj/Debug/net6.0/Lista2.AssemblyInfo.cs
obiekt_Listy/Lista2/Lista2/obj/Debug/net6.0/Lista2.AssemblyInfoInputs.cache
obiekt_Listy/Lista2/Lista2/obj/Debug/net6.0/Lista2.assets.cache
obiekt_Listy/Lista2/Lista2/obj/Debug/net6.0/Lista2.csproj.AssemblyReference.cache
obiekt_Listy/Lista2/Lista2/obj/Debug/net6.0/Lista2.GeneratedMSBuildEditorConfig.editorconfig
